section * {
    @for $i from 2 through 5 {
        h#{$i} {
            margin-bottom: 3rem;
            color: $atd_bleu;
            border-bottom: 2px solid;
            font-family: $font_serif;
            text-align: center;
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
            font-size: (3rem - ($i - 2) * 0.5);
            border-image: linear-gradient(90deg, transparent percentage($i * 0.1), $atd_rouge 50%, transparent percentage(1 - $i * .1)) 1;
        }
    }
    article {
        p,
        li {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        p {
            font-size: 1rem;
            text-align: justify;
        }
        li {
            font-size: 1rem;
            text-align: left;
        }
    }
    table {
        margin: 0 auto;
        max-width: 90%;
        font-size: 1rem;
        thead,
        td {
            text-align: center;
            vertical-align: middle;
        }
    }
    #publish {
        font-size: smaller;
        font-style: italic;
    }
    #tags {
        text-align: right;
    }
    .embed-responsive .card-img-top {
        object-fit: cover;
    }
    .card {
        font-size: 1rem;
        text-align: left;
        margin-left: 0rem;
        margin-right: 0rem;
        ul {
            padding: 0.5rem;
        }
    }
    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to left, transparent 35%, $atd_rouge 50%, transparent 65%);
    }
}