/* footer */

footer {
    color: $atd_blanc;
    background-color: $atd_bleu;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 3rem 3rem;
    margin-top: $marge_header_footer;
    list-style: lower-latin;
    font-size: .85rem;
    h3 {
        font-family: $font_serif;
        font-size: 1.5rem;
        margin-top: 1rem;
        border-bottom: 2px solid;
        border-image: linear-gradient(90deg, $atd_rouge 30%, transparent 70%) 1;
    }
    a {
        text-decoration: none;
        color: $atd_blanc;
    }
}