/* animer et personaliser le menu du header */

// Couleur de fond des sous menus
header {
    // décalage de l'image pour ne pas qu'elle soit recouverte par le menu
    margin-top: 5.5rem;
    // couleur du menu bootstrap
    .menu-color,
    .dropdown-menu {
        background-color: $atd_bleu;
    }
    // Couleur de fond des menus actif ou selectionnable
    .dropdown .dropdown-menu .dropdown-item.active,
    .dropdown .dropdown-menu .dropdown-item:active,
    .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: $atd_rouge !important;
    }
    // Condition initiale
    .navbar-brand {
        font-family: $font_serif !important;
        font-size: 2.5rem !important;
        transition: all 0.4s ease;
    }
    // Condition finale, quand Javascript ajoute .navbar.opaque apres le scroll
    .navbar.opaque .navbar-brand {
        font-size: 1.7rem !important;
        transition: all 0.4s ease-out;
    }
    // Condition initiale
    .navbar a {
        color: $atd_blanc!important;
        font-family: $font_sans;
        font-size: 1.1rem;
        font-weight: bold;
        transition: all 0.4s ease;
        img {
            width: 60px;
            transition: all 0.4s ease;
        }
    }
    // Condition finale, quand Javascript ajoute .navbar.opaque apres le scroll
    .navbar.opaque a {
        font-size: 1rem;
        img {
            width: 45px;
            transition: all 0.4s ease-out;
        }
    }
    @media (min-width: 1px) and (max-width: 400px) {
        // pour les petits écrans, il faut de petites polices, et replacer les elements en conséquence
        margin-top: 4.3rem;
        .navbar-brand {
            font-size: 1.5rem !important;
        }
        .navbar.opaque .navbar-brand {
            font-size: 1.2rem !important;
        }
        .navbar a {
            img {
                width: 45px;
            }
        }
        .navbar.opaque a {
            img {
                width: 30px;
            }
        }
    }
    // Pour afficher les sous menu en passant la souris
    .dropdown:hover>.dropdown-menu {
        display: block;
        // ajustement pour que le sous menu soit cliquable sans disparaitre
        top: 2.2rem;
    }
    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
}