/* Header du site */

.premiere_page {
    // taille du header (80vh pour la première page)
    height: 80vh;
    // Definie par php, pour activer la personnalisation de la page par wordpress
    // image sans répétition
    //background: url($image_menu);
    //background-size: cover;
    //background-position: top;
    // un trait en dessous de l'image,
    border-bottom: 2px solid $atd_bleu;
    padding-bottom: 0rem;
    margin-bottom: $marge_header_footer;
}

header {
    // une marge avant le titre de l'article
    padding-bottom: $marge_header_footer;
    // titres du header centré et positionné verticalement relativement au header avec ombre
    h1,
    h2 {
        position: relative;
        color: $atd_rouge;
        font-weight: bolder;
        text-align: center;
        @include text_shadow;
    }
    h1 {
        font-family: $font_serif;
    }
    .smaller {
        font-size: 1rem;
        @include text_shadow_small;
    }
    // La petite flèche pulsante
    #arrow {
        color: $atd_blanc;
        font-size: 1.5rem;
        // taille de la boite bleu
        height: 3rem;
        width: 3rem;
        line-height: 3.2rem;
        border-radius: 50%;
        background: $atd_rouge;
        // positionnement absolu et centré
        position: absolute;
        top: 80vh;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        // suppression du soulignement du lien
        text-decoration: none;
        // petite animation
        box-shadow: 0 0 0 0 #fff;
        animation: pulse 1.3s infinite;
    }
    // adapter la taille du titre aux écrans, mettre à la fin pour surcharger
    @media (min-width: 1px) and (max-width: 639.98px) and (orientation: portrait) {
        h1 {
            font-size: 10vw;
            top: 20vh;
        }
        h2 {
            font-size: 5vw;
            top: 25vh;
        }
    }
    @media (min-width: 1px) and (max-width: 1023.98px) and (orientation: landscape) {
        h1 {
            font-size: 5vw;
            top: 15vh;
        }
        h2 {
            font-size: 3vw;
            top: 20vh;
        }
    }
    @media (min-width: 640px) and (max-width: 1023.98px) and (orientation: portrait) {
        h1 {
            font-size: 8vw;
            top: 25vh;
        }
        h2 {
            font-size: 4vw;
            top: 30vh;
        }
    }
    @media (min-width: 1024px) and (max-width: 1199.98px) {
        h1 {
            font-size: 6vw;
            top: 25vh;
        }
        h2 {
            font-size: 4vw;
            top: 30vh;
        }
    }
    @media (min-width: 1200px) {
        h1 {
            font-size: 4.5rem;
            top: 25vh;
        }
        h2 {
            font-size: 3.2rem;
            top: 30vh;
        }
    }
}

// Le keyframe de l'animation
@keyframes pulse {
    to {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}