@charset "UTF-8";
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Montserrat&display=swap");
/* variables globales */
/* mixin */
/* importation des feuilles de styles */
/* Header du site */
.premiere_page {
  height: 80vh;
  border-bottom: 2px solid #202b40;
  padding-bottom: 0rem;
  margin-bottom: 4rem;
}

header {
  padding-bottom: 4rem;
}
header h1,
header h2 {
  position: relative;
  color: #cc2b33;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 0px #eee, 4px 4px 0px #707070;
}
header h1 {
  font-family: "kaushan script";
}
header .smaller {
  font-size: 1rem;
  text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070;
}
header #arrow {
  color: #fff;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  line-height: 3.2rem;
  border-radius: 50%;
  background: #cc2b33;
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 0 0 #fff;
  -webkit-animation: pulse 1.3s infinite;
          animation: pulse 1.3s infinite;
}
@media (min-width: 1px) and (max-width: 639.98px) and (orientation: portrait) {
  header h1 {
    font-size: 10vw;
    top: 20vh;
  }
  header h2 {
    font-size: 5vw;
    top: 25vh;
  }
}
@media (min-width: 1px) and (max-width: 1023.98px) and (orientation: landscape) {
  header h1 {
    font-size: 5vw;
    top: 15vh;
  }
  header h2 {
    font-size: 3vw;
    top: 20vh;
  }
}
@media (min-width: 640px) and (max-width: 1023.98px) and (orientation: portrait) {
  header h1 {
    font-size: 8vw;
    top: 25vh;
  }
  header h2 {
    font-size: 4vw;
    top: 30vh;
  }
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
  header h1 {
    font-size: 6vw;
    top: 25vh;
  }
  header h2 {
    font-size: 4vw;
    top: 30vh;
  }
}
@media (min-width: 1200px) {
  header h1 {
    font-size: 4.5rem;
    top: 25vh;
  }
  header h2 {
    font-size: 3.2rem;
    top: 30vh;
  }
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
  }
}
/* animer et personaliser le menu du header */
header {
  margin-top: 5.5rem;
}
header .menu-color,
header .dropdown-menu {
  background-color: #202b40;
}
header .dropdown .dropdown-menu .dropdown-item.active,
header .dropdown .dropdown-menu .dropdown-item:active,
header .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #cc2b33 !important;
}
header .navbar-brand {
  font-family: "kaushan script" !important;
  font-size: 2.5rem !important;
  transition: all 0.4s ease;
}
header .navbar.opaque .navbar-brand {
  font-size: 1.7rem !important;
  transition: all 0.4s ease-out;
}
header .navbar a {
  color: #fff !important;
  font-family: "Lato";
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.4s ease;
}
header .navbar a img {
  width: 60px;
  transition: all 0.4s ease;
}
header .navbar.opaque a {
  font-size: 1rem;
}
header .navbar.opaque a img {
  width: 45px;
  transition: all 0.4s ease-out;
}
@media (min-width: 1px) and (max-width: 400px) {
  header {
    margin-top: 4.3rem;
  }
  header .navbar-brand {
    font-size: 1.5rem !important;
  }
  header .navbar.opaque .navbar-brand {
    font-size: 1.2rem !important;
  }
  header .navbar a img {
    width: 45px;
  }
  header .navbar.opaque a img {
    width: 30px;
  }
}
header .dropdown:hover > .dropdown-menu {
  display: block;
  top: 2.2rem;
}
header .dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

section * h2 {
  margin-bottom: 3rem;
  color: #202b40;
  border-bottom: 2px solid;
  font-family: "kaushan script";
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  -o-border-image: linear-gradient(90deg, transparent 20%, #cc2b33 50%, transparent 80%) 1;
     border-image: linear-gradient(90deg, transparent 20%, #cc2b33 50%, transparent 80%) 1;
}
section * h3 {
  margin-bottom: 3rem;
  color: #202b40;
  border-bottom: 2px solid;
  font-family: "kaushan script";
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  -o-border-image: linear-gradient(90deg, transparent 30%, #cc2b33 50%, transparent 70%) 1;
     border-image: linear-gradient(90deg, transparent 30%, #cc2b33 50%, transparent 70%) 1;
}
section * h4 {
  margin-bottom: 3rem;
  color: #202b40;
  border-bottom: 2px solid;
  font-family: "kaushan script";
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  -o-border-image: linear-gradient(90deg, transparent 40%, #cc2b33 50%, transparent 60%) 1;
     border-image: linear-gradient(90deg, transparent 40%, #cc2b33 50%, transparent 60%) 1;
}
section * h5 {
  margin-bottom: 3rem;
  color: #202b40;
  border-bottom: 2px solid;
  font-family: "kaushan script";
  text-align: center;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  -o-border-image: linear-gradient(90deg, transparent 50%, #cc2b33 50%, transparent 50%) 1;
     border-image: linear-gradient(90deg, transparent 50%, #cc2b33 50%, transparent 50%) 1;
}
section * article p,
section * article li {
  margin-left: 1rem;
  margin-right: 1rem;
}
section * article p {
  font-size: 1rem;
  text-align: justify;
}
section * article li {
  font-size: 1rem;
  text-align: left;
}
section * table {
  margin: 0 auto;
  max-width: 90%;
  font-size: 1rem;
}
section * table thead,
section * table td {
  text-align: center;
  vertical-align: middle;
}
section * #publish {
  font-size: smaller;
  font-style: italic;
}
section * #tags {
  text-align: right;
}
section * .embed-responsive .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
}
section * .card {
  font-size: 1rem;
  text-align: left;
  margin-left: 0rem;
  margin-right: 0rem;
}
section * .card ul {
  padding: 0.5rem;
}
section * hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to left, transparent 35%, #cc2b33 50%, transparent 65%);
}

/* footer */
footer {
  color: #fff;
  background-color: #202b40;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 3rem 3rem;
  margin-top: 4rem;
  list-style: lower-latin;
  font-size: 0.85rem;
}
footer h3 {
  font-family: "kaushan script";
  font-size: 1.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid;
  -o-border-image: linear-gradient(90deg, #cc2b33 30%, transparent 70%) 1;
     border-image: linear-gradient(90deg, #cc2b33 30%, transparent 70%) 1;
}
footer a {
  text-decoration: none;
  color: #fff;
}

/* Les styles par défaut */
body {
  font-family: "Lato", sans-serif;
  background-color: #f6f7fa;
}

.admin-bar .fixed-top {
  top: 32px;
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: table;
  text-align: center !important;
}

@media (min-width: 1px) and (max-width: 1024px) {
  .wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
    width: calc((100% - 32px) / 3);
    margin-right: 16px;
    margin-bottom: 23px;
    height: 290px;
  }
}
#fc_titre {
  color: #cc2b33;
}

#fc_lieu {
  color: #202b40;
}

.wp-block-image figcaption {
  text-align: center;
  font-size: 90%;
  color: #202b40;
}

img {
  max-width: 100%;
  height: auto;
}

dl,
ol,
ul {
  padding-left: 1.2rem;
}

.wp-block-pullquote {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  font-family: "Montserrat";
}
.wp-block-pullquote blockquote {
  position: relative;
  padding: 1rem 0;
  max-width: 640px;
  z-index: 1;
  border-top: solid 1px #cc2b33;
  border-bottom: solid 1px #cc2b33;
  padding: 2rem;
  color: #202b40;
}
.wp-block-pullquote blockquote p {
  font-size: 1.2rem;
  font-weight: bold;
}
.wp-block-pullquote blockquote cite::before {
  content: "—";
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
.wp-block-pullquote blockquote cite {
  display: block;
  text-align: left;
}
.wp-block-pullquote blockquote::after {
  position: absolute;
  content: "”";
  font-size: 10rem;
  line-height: 0;
  bottom: -55px;
  right: 30px;
  font-weight: bolder;
  color: #cc2b33;
}

.wp-block-columns {
  justify-content: center;
}

@media (min-width: 1px) and (max-width: 400px) {
  .wp-block-pullquote blockquote p {
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .blocks-gallery-grid.columns-3 .blocks-gallery-image,
.blocks-gallery-grid.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
    height: 300px;
  }
}/*# sourceMappingURL=aikitaido.css.map */