/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato|Montserrat&display=swap');
$font_serif: 'kaushan script';
$font_sans: 'Lato';
$font_sans_bis: 'Montserrat';

/* variables globales */

$image_menu: "../img/header.jpg";
$marge_header_footer: 4rem;
$atd_blanc: #fff;
$atd_gris: #f6f7fa;
$atd_rouge: #cc2b33;
$atd_bleu: #202b40;

/* mixin */

@mixin text_shadow {
    text-shadow: 2px 2px 0px #eee, 4px 4px 0px #707070;
}

@mixin text_shadow_small {
    text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070;
}


/* importation des feuilles de styles */

@import 'header';
@import 'header_nav';
@import 'content';
@import 'footer';

/* Les styles par défaut */

body {
    font-family: $font_sans, sans-serif;
    background-color: $atd_gris;
}

// La bar admin de wordpress décale le menu bootstrap
.admin-bar .fixed-top {
    top: 32px;
}

// Worpress
.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: table;
    text-align: center !important;
}

// Reparer la gallery Wordpress qui ne fonctionne pas sur mobile
@media (min-width: 1px) and (max-width: 1024px) {
    .wp-block-gallery.columns-3 .blocks-gallery-image,
    .wp-block-gallery.columns-3 .blocks-gallery-item {
        width: calc((100% - 32px)/3);
        margin-right: 16px;
        margin-bottom: 23px;
        height: 290px;
    }
}

// calendrier modal
#fc_titre {
    color: $atd_rouge;
}

#fc_lieu {
    color: $atd_bleu;
}

// correction de figurecaption pas stylisé
.wp-block-image figcaption {
    text-align: center;
    font-size: 90%;
    color: $atd_bleu;
}

// correction des images s'affichant pas correctement avec wordpress
// Toutes les images seront responsive (équivalent à img-fluid de bootstrap)
img {
    max-width: 100%;
    height: auto;
}

// les listes
dl,
ol,
ul {
    padding-left: 1.2rem;
}

// Les quotes
.wp-block-pullquote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-family: $font_sans_bis;
    blockquote {
        position: relative;
        padding: 1rem 0;
        max-width: 640px;
        z-index: 1;
        border-top: solid 1px $atd_rouge;
        border-bottom: solid 1px $atd_rouge;
        padding: 2rem;
        color: $atd_bleu;
        p {
            font-size: 1.2rem;
            font-weight: bold;
        }
        cite::before {
            content: "\2014";
            margin-left: 1.5rem;
            margin-right: 0.5rem;
        }
        cite {
            display: block;
            text-align: left;
        }
    }
    blockquote::after {
        position: absolute;
        content: "\201d";
        font-size: 10rem;
        line-height: 0;
        bottom: -55px;
        right: 30px;
        font-weight: bolder;
        color: $atd_rouge;
    }
}

// les blocs non centrés
.wp-block-columns {
    justify-content: center;
}

@media (min-width: 1px) and (max-width: 400px) {
    .wp-block-pullquote blockquote p {
        font-size: 1rem;
    }
}

// Correction de Wordpress pour les galleries sous Chrome, ou les images se chevauchent
@media (min-width: 600px) {
    .blocks-gallery-grid.columns-3 .blocks-gallery-image,
    .blocks-gallery-grid.columns-3 .blocks-gallery-item,
    .wp-block-gallery.columns-3 .blocks-gallery-image,
    .wp-block-gallery.columns-3 .blocks-gallery-item {
        height: 300px;
    }
}